body{
    margin-left: 40%;
}
div{
    width: 100px;
    height: 100px;
    background-color: #EEE;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius:10% ;
    border-top-left-radius: 10%;
    box-shadow: inset 0 0 16px 4px #000000a1;
    margin: 20px 5%;
    
}