div{
    width: 500px;
    margin: auto;
    padding: 20px;
    margin-bottom: 15px;
  
}
.assign-1-shape-1{
    background-color: blueviolet;
}
.assign-1-shape-2{
    background-color: #b167d4;
}
.assign-1-shape-3{
    background-color: rgba(168, 32, 222, 0.1);
}