div{
    display: block;
    padding: 30px 40px;
    margin: 50px;
    width: 400px;
  
}
.assign-2-shape-1{
    background-color: rgba(168, 32, 222, 0.1);
    border-left: 5px solid rgb(236, 45, 67);
    
}
.assign-2-shape-2{
    background-color: rgba(168, 32, 222, 0.1);
    border-left: 5px solid rgb(89, 23, 219) ;
    visibility: hidden;
    
}
.assign-2-shape-3{
    background-color: rgba(168, 32, 222, 0.1);
    border-left:5px solid rgb(6, 133, 230) ;
    
    
}